<?xml version="1.0" encoding="UTF-8"?>
<settings>

    <mirrors>
        <mirror>
            <id>sbtnexus-oki-group</id>
            <mirrorOf>central</mirrorOf>
            <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/groups/OKI_group</url>
        </mirror>

    </mirrors>
    <servers>
        <server>
            <id>sbtnexus-oki-group</id>
            <username>SBT-OKICI</username>
            <password>{o3Aeh1c4Bj4HsIkc4n39NbiqDt8JtCajHEc+8LvZOXc=}</password>
        </server>
        <server>
            <id>oki-release-repo</id>
            <username>SBT-OKICI</username>
            <password>{o3Aeh1c4Bj4HsIkc4n39NbiqDt8JtCajHEc+8LvZOXc=}</password>
        </server>
        <server>
            <id>oki-snapshot-repo</id>
            <username>SBT-OKICI</username>
            <password>{o3Aeh1c4Bj4HsIkc4n39NbiqDt8JtCajHEc+8LvZOXc=}</password>
        </server>
        <server>
            <id>okr-sbt-ci-distr-repo</id>
            <username>SBT-OKICI</username>
            <password>{o3Aeh1c4Bj4HsIkc4n39NbiqDt8JtCajHEc+8LvZOXc=}</password>
        </server>
        <server>
            <id>sbrfDeploymentRepo</id>
            <username>SBT-OKICI</username>
            <password>{o3Aeh1c4Bj4HsIkc4n39NbiqDt8JtCajHEc+8LvZOXc=}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>oki-snapshot-repo</id>
                    <name>oki Snapshot Repository</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/OKI_snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>oki-release-repo</id>
                    <name>oki Release Repository</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/OKI_release</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>oki-third-repo</id>
                    <name>oki Release Repository</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/OKI_thirdparty</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>okr-sbt-ci-distr-repo</id>
                    <name>SBT CI Distr Repo</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/SBT_CI_distr_repo/OKR</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>oki-snapshot-repo</id>
                    <name>oki Snapshot Repository</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/OKI_snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>

                <pluginRepository>
                    <id>oki-release-repo</id>
                    <name>oki Release Repository</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/OKI_release</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>

                <pluginRepository>
                    <id>oki-third-repo</id>
                    <name>oki Release Repository</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/OKI_thirdparty</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>okr-sbt-ci-distr-repo</id>
                    <name>SBT CI Distr Repo</name>
                    <url>http://sbtnexus.delta.sbrf.ru:8081/nexus/content/repositories/SBT_CI_distr_repo/OKR</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>

            </pluginRepositories>

            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

        </profile>

        <profile>
            <id>sbrfProfile</id>
            <repositories>
                <repository>
                    <id>nexus-prod-repo</id>
                    <name>Nexus PROD Repo</name>
                    <url>https://sbrf-nexus.ca.sbrf.ru/nexus/content/repositories/Nexus_PROD</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-prod-repo</id>
                    <name>Nexus PROD Repo</name>
                    <url>https://sbrf-nexus.ca.sbrf.ru/nexus/content/repositories/Nexus_PROD</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

</settings>
